<div class="sub-info"><span class="number-of-books-saved">
        <%= numberOfBooks %>
    </span> Saved Books</div>
<main>
    <% allBooks.forEach(element=> { %>
        <div class="book">

            <img src="<%= element.img_url %>" alt="" class="book-cover">
            <h2 class="book-title">
                <%= element.title %>
            </h2>
            <h6 class="book-author">
                <%= element.author %>
            </h6>
            <p class="book-description">
                <%= element.description.split(" ").slice(0,30).join(" ")+ " ..." %>
            </p>
            <p class="book-isbn">
                <%= element.isbn %>
            </p>
            <p class="book-shelf">
                <%= element.book_shelf %>
            </p>
            <a href="/books/detail/<%= element.id %>" class="book-btn" value="">View Details</a>
        </div>
        <% }); %>

</main>